# Node
node_modules/
npm-debug.log*
yarn-debug.log*

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/
coverage/
.next/

# TypeScript
*.tsbuildinfo

# OS
.DS_Store

# IDE
.vscode/
.idea/
